export(Go_BetaContribution)
export(Go_BetaDistance)
export(Go_ConDaDist)
export(Go_ConDaQCplot)
export(Go_DAConsensus)
export(Go_DA_aldex2)
export(Go_DA_ancombc2)
export(Go_DA_corncob)
export(Go_DA_deseq2)
export(Go_DA_maaslin)
export(Go_FilterFeatures)
export(Go_FinalScore)
export(Go_StandardizeDA)
importFrom(methods,as)
importFrom(stats,dist)
importFrom(stats,p.adjust)
importFrom(stats,setNames)
importFrom(utils,write.table)
