export(Go_BetaContribution)
export(Go_BetaDistance)
export(Go_CheckDependencies)
export(Go_CombinePValuesAdaptiveCauchy)
export(Go_CombinePValuesCauchy)
export(Go_CombinePValuesFisher)
export(Go_CombinePValuesFamilyPartialConjunction)
export(Go_CombinedEffectRank)
export(Go_ConDaDist)
export(Go_ConDaQCplot)
export(Go_DAConsensus)
export(Go_DA_aldex2)
export(Go_DA_ancombc2)
export(Go_DA_corncob)
export(Go_DA_deseq2)
export(Go_DependencyList)
export(Go_ExportResults)
export(Go_FilterFeatures)
export(Go_FinalScore)
export(Go_lollipopPlot)
export(Go_RunDAmethods)
export(Go_StandardizeDA)
export(Go_WeightSensitivity)
export(condadist_dependency)
importFrom(methods,as)
importFrom(stats,dist)
importFrom(stats,p.adjust)
importFrom(stats,setNames)
importFrom(utils,write.table)
